* {
    margin: 0;
    padding: 0;
}
 a {
     color: #fff;
     text-decoration: none;
     transition: 0.3s;
 }
 a:hover {
     opacity: 10;
 }
 .logo {
     font-size: 24px;
     text-transform: uppercase;
     letter-spacing: 4px;
 }
 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background: #23232e;
     height: 8vh;
 }
  main {
      background: url(img/) no-repeat center center;
      background-size: cover;
      height: 92vh;
  }
  .nav-list {
      list-style: none;
      display: flex;
      padding: 30px;
  }
   .nav-list li {
       letter-spacing: 3px;
       margin-left: 50px;
  } 
  .nav-list li:last-child a  {
    padding: px;
    background-color: #23232e;
  }
  .nav-list li a:hover{
      background-color:rgb(14, 15, 15);
      padding: 20px;
  }
  #topo {
      background-color: #363691;
      margin: 0px;
      padding: 100px ;
  }
  h1 {
      color: #fff;
      font-size: 90px;
  }
  p {
      color: #fff;
      font-size: 25px;
      margin: 10px;
  }
  .botao {
      text-align: 0 ;
      margin-top: 0 ;
  }
  button {
      background-image: linear-gradient(45deg, #000000, #363636);
      padding: 20px 40px;
      font-size: 20px;
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0 0 7px 0 rgb(39, 148, 202);
  }
  @keyframes anima{
      0%{
          transform: scale(1);
      }
    100%{
        transform: scale(1.05);
    }
  }

  button:hover {
      animation-name: anima;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
   h2{
       text-align: center;
       font-size: 50px;
       margin: 15px;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   .reason {
    list-style: none;
    display: flex;
    padding: 30px;
    margin: 0px;
    text-align: center;
   }
   .reason li {
       font-size: 20px;
       margin: 40px;
      letter-spacing: 3px;
      text-align: center;
      margin-left: 200px;
      padding: 0px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
       Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   } 
   #final {
       background-color: #23232e;
       text-transform: uppercase;
       padding: 100px;
       margin-top:  20px;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
       Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   } 
   #logo-final{
       color: #fff;
       font-size: 40px;
       margin: 20px;
       background-color: #23232e;
   }
   #rodape  ul li{
       float: right;
       color: #fff;
   }

   body {
       height: 100vh;
   }

   ::-webkit-scrollbar {
    width: 12px;
   }

   ::-webkit-scrollbar-thumb {
       background: #23232e;
       border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #363691;
    }

